beautifulsoup4==4.14.3
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
click-default-group==1.2.4
colorama==0.4.6
idna==3.18
lxml==6.1.1
numpy==2.4.6
pandas==3.0.3
pluggy==1.6.0
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
sqlite-fts4==1.0.3
sqlite-utils==3.39
tabulate==0.10.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
streamlit==1.28.0